<h1>Login</h1>

<form action="/user/login" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <input type="submit" value="Cadastrar" onclick="saveToken()" class="btn btn-success">
</form>

<script>
    function saveToken() {
        if (typeof (Storage) !== "undefined") {
            const token = 

            localStorage.setItem("token", token)
        } else {
            document.getElementById("result").innerHTML = "Seu navegador não suporta web storage...";
        }
    } F
</script>