<!--script para habilitar o select da cidade -->

<head>
        <script src="jquery-3.3.1.min.js"></script>
</head>
<script type="text/javascript">
        $( "#state" ).click(function() {
  alert( "Handler for .click() called." );
});

</script>
<div class="container-fuild">
    <div class="card">
            <h4 class="card-header">
                    <i class="fas fa-users"></i> Lista de Produtos</h4>
            <div class="card-body">
                    <label for="State">Estado:</label>
                   <select name="state" id="state">
                           <%ufs.forEach(function(uf){%>
                                <option value="<%=uf.id%>" ><%=uf.nome%></option>
                           <%})%>
                   </select>
                   <label for="city">Cidade:</label>
                   <select name="city" id="city" disabled="disabled">
                        <%ufs.forEach(function(uf){%>
                                <option value="<%=uf.id%>"><%=uf.nome%></option>
                        <%})%>
                   </select>
                   
                   
            </div>
    </div>

</div>
<!-- FIM DA LISTA DE USUÃRIOS -->

















































