<h4 class="card-header">
  <i class="fas fa-users"></i> Lista de Usuários</h4>
<div class="card-body">
  <table class="table table-responsive-lg">
    <thead class="thead-dark">
      <tr>
        <!--
                            <th scope="col">
                                    <i class="fas fa-id-card-alt"></i> ID</th>
                            -->
        <th scope="col">
          <i class="fas fa-user"></i> Nome</th>
        <th scope="col">
          <i class="fas fa-at"></i> E-mail</th>
        <th scope="col">
          <i class="fas fa-phone"></i> Telefone</th>
        <th scope="col">
          <i class="fas fa-toggle-on"></i> Situação</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user){%>
        <tr>
          <!--<th scope="row">1</th>-->
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.phoneNumber %>
          </td>
          <td>
            <% if(user.isActive == true || user.isActive=="true"){ %>
              Ativado
              <% } else { %>
                Desativado
                <% } %>
          </td>
          <td>

            <span data-toggle="modal" data-target="#editUser">
              <button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="left" title="Editar Usuário">
                <i class="fas fa-edit"></i>
              </button>
            </span>

            </span>
            <form id="formSubmit" action="/delete/<%= user.id %>" method="POST" class="d-inline"></form>
            <span>
              <button type="submit" class="btn btn-sm btn-danger deleteUser" data-toggle="tooltip" data-placement="right" title="Excluir Usuário">
                <i class="fas fa-trash-alt"></i>
              </button>
            </span>
            </form>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>