<!DOCTYPE html>
<html>

<head>
  <title>New Sails App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/sb-admin.css">
  <!--STYLES END-->
</head>


    <div class="container">
      <%- body %>
    </div>


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/js.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome-all.js"></script>
    <script src="/js/sb-admin.min.js"></script>
    <script src="/js/javaScript.js"></script>
    <!--SCRIPTS END-->


</html>