<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/list">Usuários</a>
    </li>
    <li class="breadcrumb-item">Alterar</li>
</ol>

<h1 class="display-4">Alteração de Usuários</h1>

<form action="/password/<%= user.id%>" method="POST">
    <div class="form-group">
        <label for="oldPassword">Senha Antiga:</label>
        <input type="password" name="oldPassword" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="newPassword">Senha Nova:</label>
        <input type="password" name="newPassword" class="form-control">
    </div>
    <input type="submit" value="Alterar" class="btn btn-success mt-4">
    <a href="/user/list" class="btn btn-danger mt-4">Cancelar</a>
</form>