<!--Nome, Descrição, Marca, modelo, Número de série-->

<h1 class="display-4">Cadastro de Produtos</h1>

<form action="/product/create" method="POST">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" name="name" class="form-control" >
    </div>

    <div class="form-group">
        <label for="description">Descrição:</label>
        <input type="text" name="description" class="form-control" >
    </div>

    <div class="form-group">
        <label for="brand">Marca:</label>
        <input type="text" name="brand" class="form-control" >
    </div>

    <div class="form-group">
        <label for="model">Modelo:</label>
        <input type="text" name="model" class="form-control">
    </div>

    <div class="form-group">
        <label for="serialNumber">Número de sério:</label>
        <input type="text" name="serialNumber" class="form-control">
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-success">
    <a href="/product/list" class="btn btn-danger">Lista de produtos</a>
</form>